spring:
  datasource:
    url: jdbc:postgresql://${database_host}/${database_name}
    username: ${database_username}
    password: ${database_password}


  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect

  sql:
    init:
      mode: always

server:
  port: 8080
  tomcat:
    accesslog:
      enabled: true













